@use '../styles/partials/colors';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 44px;
  text-align: center;
  margin-bottom: 65px;
}

p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 26px;
  margin: 12px 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card-container--padding {
  padding: 17px;
}

.card-container {
  position: relative;
  width: 300px;
  height: 450px;
  border-radius: 0 0 10px 10px;
  box-shadow: 10px 10px 10px rgb(224, 224, 224);
  background: linear-gradient(to top left, white 50%, colors.$yellow 50%) bottom right;
  background-size: 300%;
  transition: .5s ease;
  margin-bottom: 50px;
}

.card-container:hover {
  background-position: left;
}

.card__button::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
}

.card__button {
  display: none;
  cursor: pointer;
}

.card__button:hover {
  display: flex;
}

.card:hover .card__button {
  display: flex;
}

.card__img {
  width: 300px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.arrow__img {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg width='13' height='12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.53 6.53a.75.75 0 0 0 0-1.06L7.757.697a.75.75 0 1 0-1.06 1.06L10.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06L12.53 6.53ZM0 6.75h12v-1.5H0v1.5Z' fill='%23171717'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.card__btn {
  text-align: center;
}

.card-btn__resources {
  background-color: colors.$yellow;
  padding: 18px 19px;
}

.card-btn__resources:hover {
  background-color: rgba(153,204,126,1);
}